<div >
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h1>Add New Category</h1>
        <form (ngSubmit)="formSubmit()">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text"  [(ngModel)]="category.categoryTitle" name="title" class="form-control" id="title" placeholder="Enter category Title" style="height: 40px;">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" [(ngModel)]="category.description" name="description" id="description" rows="9"placeholder="Enter category description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
