<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <h1 class="head">Available Quizzes</h1>
    
    <table class="table">
      <thead>
        <tr>
          <th>Sr. No</th>
          <th>Title</th>
          <th>Category</th>
          <th>Description</th>
          <th>No. of Questions</th>
          <th>Maximum Marks</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let q of quizzes; let i=index">
          <td>{{i+1}}</td>
          <td>{{q.quizTitle}}</td>
          <td>{{q.category.categoryTitle}}</td>
          <td>{{q.description}}</td>
          <td>{{q.noOfQuestion}}</td>
          <td>{{q.maxMarks}}</td>
          <td>
            <a class="btn btn-info" [routerLink]="'/user-dashboard/instructions/' + q.quizId">Start</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card" *ngIf="quizzes.length == 0">
      <div class="card-body">
        <h1>No data in this category</h1>
      </div>
    </div>
  </div>
</div>
