
        <div class="col-md-9">
            <div class="bootstrap-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="head">Add Question to <span style="font-weight: bolder;">{{quizTitle}}</span></h1>
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-subtitle mb-2 text-muted">Enter Details Of New Question</h6>
                            </div>
                            <div class="card-body">
                                <form (ngSubmit)="formSubmit()">

                                    <div class="mb-3" style="margin-top: 50px;">
                                        <label for="content" class="form-label">Content</label>
                                        <textarea type="text" class="form-control c" [(ngModel)]="question.content"
                                            name="content" id="content" placeholder="Enter Question"
                                            required></textarea>
                                    </div>

                                    <div class="row" style="margin-top: 20px;">
                                        <div class="mb-3 col-6">
                                            <label for="option1" class="form-label" style="margin-left: 15px;">Option
                                                1</label>
                                            <input type="text" class="form-control" [(ngModel)]="question.question1" name="option1" id="option1" placeholder="Enter option1" required>
                                        </div>

                                        <div class="mb-3 col-6">
                                            <label for="option2" class="form-label" style="margin-left: 15px;">Option
                                                2</label>
                                            <input type="text" class="form-control" [(ngModel)]="question.question2"
                                                name="option2" id="option2" placeholder="Enter option2" required>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 20px;">
                                        <div class="mb-3 col-6">
                                            <label for="option3" class="form-label" style="margin-left: 15px;">Option
                                                3</label>
                                            <input type="text" class="form-control" [(ngModel)]="question.question3"
                                                name="option3" id="option3" placeholder="Enter option3">
                                        </div>

                                        <div class="mb-3 col-6">
                                            <label for="option4" class="form-label" style="margin-left: 15px;">Option
                                                4</label>
                                            <input type="text" class="form-control" [(ngModel)]="question.question4"
                                                name="option4" id="option4" placeholder="Enter option4">
                                        </div>

                                        <div class="mb-3 col-12" style="margin-top: 20px;">
                                            <label for="answer" class="form-label"
                                                style="margin-left: 15px;">Answer</label>
                                            <select class="form-select" name="answer" aria-label="Select answer"
                                                required [(ngModel)]="question.answer" name="answer">
                                                <option *ngIf="question.question1" [value]="question.question1">
                                                    {{question.question1}}</option>
                                                <option *ngIf="question.question2" [value]="question.question2">
                                                    {{question.question2}}</option>
                                                <option *ngIf="question.question3" [value]="question.question3">
                                                    {{question.question3}}</option>
                                                <option *ngIf="question.question4" [value]="question.question4">
                                                    {{question.question4}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary"
                                        style="margin-top:40px; margin-left: 200px; width: 120px;">Add Question</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
