<div >
    <h1 class="text-center">Add New Quiz</h1>
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-md-8 offset-md-1">
                <form (ngSubmit)="addQuiz()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" [(ngModel)]="quizData.quizTitle" name="title"
                            id="title" placeholder="Enter title" required>
                        <label for="title">Title</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea type="text" class="form-control" [(ngModel)]="quizData.description"
                            name="description" id="description" placeholder="Enter description" required
                            style="height: 170px;"></textarea>
                        <label for="description">Description</label>
                    </div>

                    <div class="row">
                        <div class="form-floating col-6">
                            <input type="number" class="form-control" [(ngModel)]="quizData.maxMarks"
                                name="maxMarks" id="maxMarks" placeholder="Enter maximum marks" required>
                            <label for="maxMarks" style="margin-left: 15px;">Maximum Marks</label>
                        </div>

                        <div class="form-floating col-6">
                            <input type="number" class="form-control" [(ngModel)]="quizData.noOfQuestion"
                                name="noOfQuestions" id="noOfQuestions" placeholder="Enter number of questions"
                                required>
                            <label for="noOfQuestions" style="margin-left: 15px;">Number of Questions</label>
                        </div>
                    </div>

                    <div class="mb-3 pub">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="quizData.isActive" name="active" required>
                            <label class="form-check-label">Publish Status</label>
                        </div>
                    </div>

                    <div class="form-floating col-12" style="margin-top: 20px;">
                        <select class="form-select form-select" [(ngModel)]="quizData.categoryId" name="category"
                            aria-label=".form-select-lg example" required>
                            <option *ngFor="let c of categories" [value]="c['categoryId']">{{c['categoryTitle']}}</option>
                        </select>
                        <label for="category" style="margin-left: 15px;">Categories</label>
                    </div>

                    <button class="btn btn-primary mt-3">Add Quiz</button>
                </form>
            </div>
        </div>
    </div>
</div>
